* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  width: 900px;
  align-items: center;
  cursor: pointer;
  overflow-x: scroll;
  margin: 0 10px;
  overflow: hidden;
}

.items {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
  flex: none;
}
.items img{
  padding: 0 10px;
width: 100%;
filter: grayscale(100%);
transition: scale 0.2s linear;
}

.items img:hover{
  scale: 1.1;
  filter: grayscale(0%);
}

.main{
  display: flex;
  align-items: center;
}
